apiVersion: v1
kind: Service
metadata:
  name: {{ include "gcp-workload-identity-federation-webhook.fullname" . }}-controller-manager-metrics-service
  labels:
    control-plane: controller-manager
  {{- include "gcp-workload-identity-federation-webhook.labels" . | nindent 4 }}
spec:
  type: {{ .Values.metricsService.type }}
  selector:
    control-plane: controller-manager
  {{- include "gcp-workload-identity-federation-webhook.selectorLabels" . | nindent 4 }}
  ports:
  {{- .Values.metricsService.ports | toYaml | nindent 2 -}}
