apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "gcp-workload-identity-federation-webhook.fullname" . }}-metrics-reader
  labels:
  {{- include "gcp-workload-identity-federation-webhook.labels" . | nindent 4 }}
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "gcp-workload-identity-federation-webhook.fullname" . }}-metrics-reader-rolebinding
  labels:
  {{- include "gcp-workload-identity-federation-webhook.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ include "gcp-workload-identity-federation-webhook.fullname" . }}-metrics-reader'
subjects:
- kind: ServiceAccount
  name: '{{ include "gcp-workload-identity-federation-webhook.fullname" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'
