name: CI

on:
  push:
    branches: [main]
    paths-ignore: ['**.md']
  pull_request:
    types: [opened, synchronize]
    paths-ignore: ['**.md']

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v5
      with:
        go-version-file: "go.mod"
    - run: make test

  docker-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - run: make docker-build

  lint-go:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v5
      with:
        go-version-file: "go.mod"
    - run: make lint

  lint-chart:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - run: make lint-chart
