name: Release

on:
  # tagged manually
  push:
    tags: ["v*"]
  # dispatch from tagpr.yaml workflow
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      IMG: ghcr.io/${{github.repository}}:${{github.ref_name}}
      IMG_LATEST: ghcr.io/${{github.repository}}:latest
    steps:
    - uses: actions/checkout@v4

    # Publish Container Image
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - run: make docker-build
    - run: make docker-push

    # Publish Helm Chart
    - name: strip 'v' from tag for chart version
      id: tag
      uses: actions/github-script@v6
      with:
        script: |
          const tag = process.env.GITHUB_REF_NAME
          const no_v = tag.replace('v', '')
          core.setOutput('no_v', no_v)
    - name: Publish Helm charts
      uses: stefanprodan/helm-gh-pages@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        app_version: ${{steps.tag.outputs.no_v}}
        chart_version: ${{steps.tag.outputs.no_v}}
